.table-bordered td {
    border: 1.5px solid #dee2e6;
}
.cell {
    width: 120px;
    height: 75px;
    visibility:hidden;
}
th {
    white-space: nowrap;
}

.table-bordered #available {
    border-left: 1.5px solid green;
    border-right: 1.5px solid green;
    border-bottom: 0;
    background-color: #d3d3d3;
}

  .display {
    visibility: visible;
}

.overbooked {
    visibility: visible;
    border: 1.5px solid red !important;
}
.halfbooked {
    visibility: visible;
    background-color: #d3d3d3;
    border-left: 1.5px solid orange !important;
    border-right: 1.5px solid orange !important;
}
 
td:hover {
    background-color: #d3d3d3;

}
td:hover .cell {
    visibility: visible;
}

.section {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 60%;
  }

.tableh {
    position: sticky;
    top: 0;
}

tbody:before {
    line-height:1em;
    content:"-";
    color:white; /* to hide text */
    display:block;
}

.table-bordered thead th {
    border: none;
    border-color: white;
    background-color: #d3d3d3;
}

.fs-6 {
    font-size: 0.75rem;
}

.colordiv {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.colorindicate {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}