.accordion-item {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
  cursor: pointer;
}

.accordion-chevron {
  transition: transform 0.2s linear;
}
.accordion-chevron.open {
  transform: rotate(-180deg);
}
