.navbar-admin {
    height: 60px;
    padding-top: 3px;
}

.navend {
    
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navend > * {
    font-size: 1rem;
    color:  white!important;
    margin-right: 2rem;
}

.n-text {
    padding-top: 0;
    color: white;
}
.nt {
    line-height: 0.75rem;
}

.dominant{
    position: relative;
}

.passive{
    position: absolute;
    top: 60px;
    right: 15px;
}

.matchWidth{
    padding-left: 62px;
    padding-right: 62px;
}

@media screen and (max-width: 720px) {
    .disappear {
        display: none;
    }
}